/* Issue: image went down when pressed backspace in top-text input */
/* Credit to 'Trevor Waddell' for bug fix */

body{
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

.meme-col{
    width: 50%;
    height: 400px;
}

.meme{
    position: relative;
    height: 350px;
}

.meme h1{
    position: absolute;  
    transform: translateX(-50%);  /* center in .meme */
    left: 50%;       /* center in .meme */
}

.pic-gen{
    width: 95%;
    height: 350px;
    position: absolute;
}

h1.top-text{
    /* position: relative; */
    top: 0;
}

h1.bottom-text{
    bottom: 0;
}

.top-text,.bottom-text{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
